.table {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(176, 224, 230);
    text-align: center;
}

.item-1 {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(176, 224, 230);
    text-align: center;
}

.item-2 {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(176, 224, 230);
    text-align: center;
}

.image {
    display: block;
}

.menu {
    position: fixed;
    width: 100%;
    height: 20px;
}

.items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: powderblue;
}

.item {
    float: left;
}

.item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.item a:hover {
    background-color: rgb(255, 166, 0);
}

.body {
    background-color: palegoldenrod;
    color: black;
    margin: 0;
}

@media screen and (max-width: 992px) {
    .body {
        background-color: blue;
        color: white;
    }
}